Repository palazzem/ha-econnect-alarm, pull requests merged in 2023-11, with the labels that each got.

#104 tests: enable socket access for `responses` 0.24+ compatibility
  tests/conftest.py
Labels: topic:tests, type:fix

#102 tests(config_flow): add coverage for config exceptions; refactor `ConfigFlow` tests
  custom_components/econnect_metronet/config_flow.py
  custom_components/econnect_metronet/helpers.py
  tests/helpers.py
  tests/test_config_flow.py
Labels: topic:tests, type:feature

#105 tests: replace custom MockConfigEntry with the official `hass.MockConfigEntry`
  .pre-commit-config.yaml
  tests/conftest.py
  tests/helpers.py
Labels: topic:tests, type:feature

#106 tests: add OptionsFlow tests (partial coverage)
  tests/test_options_flow.py
Labels: topic:tests, type:feature

#101 refactor: use multi select in setup options
  custom_components/econnect_metronet/__init__.py
  custom_components/econnect_metronet/config_flow.py
  custom_components/econnect_metronet/devices.py
  custom_components/econnect_metronet/exceptions.py
  custom_components/econnect_metronet/helpers.py
  custom_components/econnect_metronet/translations/en.json
  custom_components/econnect_metronet/translations/it.json
  tests/test_devices.py
  tests/test_helpers.py
  tests/test_migrations.py
  tests/test_options_flow.py
Labels: topic:entity, type:feature

#107 feat: add AWAY state configuration
  custom_components/econnect_metronet/alarm_control_panel.py
  custom_components/econnect_metronet/config_flow.py
  custom_components/econnect_metronet/const.py
  custom_components/econnect_metronet/devices.py
  custom_components/econnect_metronet/strings.json
  custom_components/econnect_metronet/translations/en.json
  custom_components/econnect_metronet/translations/it.json
  tests/conftest.py
  tests/test_alarm_panel.py
  tests/test_decorators.py
  tests/test_devices.py
  tests/test_options_flow.py
Labels: topic:entity, type:feature
